<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.vtg.mapper.system.SmsMarketNewRuleMapper" >
    <resultMap id="BaseResultMap" type="cn.com.vtg.model.system.SmsMarketNewRule" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="send_type" property="sendType" jdbcType="TINYINT" />
        <result column="send_after_day" property="sendAfterDay" jdbcType="SMALLINT" />
        <result column="send_time" property="sendTime" jdbcType="CHAR" />
        <result column="account_status" property="accountStatus" jdbcType="VARCHAR" />
        <result column="register_source" property="registerSource" jdbcType="VARCHAR" />
        <result column="en_msg" property="enMsg" jdbcType="VARCHAR" />
        <result column="cn_msg" property="cnMsg" jdbcType="VARCHAR" />
        <result column="fr_msg" property="frMsg" jdbcType="VARCHAR" />
        <result column="jp_msg" property="jpMsg" jdbcType="VARCHAR" />
        <result column="create_user" property="createUser" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, status, send_type, send_after_day, send_time, account_status, register_source,
    en_msg, cn_msg, fr_msg, jp_msg, create_user, create_time, update_user, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tb_sms_market_new_rule
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="cn.com.vtg.model.system.SmsMarketNewRule" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into tb_sms_market_new_rule (id, name, status,
                                            send_type, send_after_day, send_time,
                                            account_status, register_source, en_msg,
                                            cn_msg, fr_msg, jp_msg,
                                            create_user, create_time, update_user,
                                            update_time)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
                #{sendType,jdbcType=TINYINT}, #{sendAfterDay,jdbcType=SMALLINT}, #{sendTime,jdbcType=CHAR},
                #{accountStatus,jdbcType=VARCHAR}, #{registerSource,jdbcType=VARCHAR}, #{enMsg,jdbcType=VARCHAR},
                #{cnMsg,jdbcType=VARCHAR}, #{frMsg,jdbcType=VARCHAR}, #{jpMsg,jdbcType=VARCHAR},
                #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="cn.com.vtg.model.system.SmsMarketNewRule"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into tb_sms_market_new_rule

        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="sendType != null" >
                send_type,
            </if>
            <if test="sendAfterDay != null" >
                send_after_day,
            </if>
            <if test="sendTime != null" >
                send_time,
            </if>
            <if test="accountStatus != null" >
                account_status,
            </if>
            <if test="registerSource != null" >
                register_source,
            </if>
            <if test="enMsg != null" >
                en_msg,
            </if>
            <if test="cnMsg != null" >
                cn_msg,
            </if>
            <if test="frMsg != null" >
                fr_msg,
            </if>
            <if test="jpMsg != null" >
                jp_msg,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateUser != null" >
                update_user,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="sendType != null" >
                #{sendType,jdbcType=TINYINT},
            </if>
            <if test="sendAfterDay != null" >
                #{sendAfterDay,jdbcType=SMALLINT},
            </if>
            <if test="sendTime != null" >
                #{sendTime,jdbcType=CHAR},
            </if>
            <if test="accountStatus != null" >
                #{accountStatus,jdbcType=TINYINT},
            </if>
            <if test="registerSource != null" >
                #{registerSource,jdbcType=VARCHAR},
            </if>
            <if test="enMsg != null" >
                #{enMsg,jdbcType=VARCHAR},
            </if>
            <if test="cnMsg != null" >
                #{cnMsg,jdbcType=VARCHAR},
            </if>
            <if test="frMsg != null" >
                #{frMsg,jdbcType=VARCHAR},
            </if>
            <if test="jpMsg != null" >
                #{jpMsg,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null" >
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.vtg.model.system.SmsMarketNewRule" >
        update tb_sms_market_new_rule
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="sendType != null" >
                send_type = #{sendType,jdbcType=TINYINT},
            </if>
            <if test="sendAfterDay != null" >
                send_after_day = #{sendAfterDay,jdbcType=SMALLINT},
            </if>
            <if test="sendTime != null" >
                send_time = #{sendTime,jdbcType=CHAR},
            </if>
            <if test="accountStatus != null" >
                account_status = #{accountStatus,jdbcType=VARCHAR},
            </if>
            <if test="registerSource != null" >
                register_source = #{registerSource,jdbcType=VARCHAR},
            </if>
            <if test="enMsg != null" >
                en_msg = #{enMsg,jdbcType=VARCHAR},
            </if>
            <if test="cnMsg != null" >
                cn_msg = #{cnMsg,jdbcType=VARCHAR},
            </if>
            <if test="frMsg != null" >
                fr_msg = #{frMsg,jdbcType=VARCHAR},
            </if>
            <if test="jpMsg != null" >
                jp_msg = #{jpMsg,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null" >
                update_user = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.com.vtg.model.system.SmsMarketNewRule" >
        update tb_sms_market_new_rule
        set name = #{name,jdbcType=VARCHAR},
            status = #{status,jdbcType=TINYINT},
            send_type = #{sendType,jdbcType=TINYINT},
            send_after_day = #{sendAfterDay,jdbcType=SMALLINT},
            send_time = #{sendTime,jdbcType=CHAR},
            account_status = #{accountStatus,jdbcType=VARCHAR},
            register_source = #{registerSource,jdbcType=VARCHAR},
            en_msg = #{enMsg,jdbcType=VARCHAR},
            cn_msg = #{cnMsg,jdbcType=VARCHAR},
            fr_msg = #{frMsg,jdbcType=VARCHAR},
            jp_msg = #{jpMsg,jdbcType=VARCHAR},
            create_user = #{createUser,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_user = #{updateUser,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_sms_market_new_rule
        <where>
            <if test="name != null" >
                and name = #{name,jdbcType=VARCHAR}
            </if>

            <if test="status != null" >
                and status = #{status,jdbcType=TINYINT}
            </if>

            <if test="sendType != null" >
                and send_type = #{sendType,jdbcType=TINYINT}
            </if>

            <if test="sendAfterDay != null" >
                and send_after_day = #{sendAfterDay,jdbcType=SMALLINT}
            </if>

            <if test="sendTime != null" >
                and send_time = #{sendTime,jdbcType=CHAR}
            </if>

            <if test="accountStatus != null" >
                and account_status = #{accountStatus,jdbcType=VARCHAR}
            </if>

            <if test="registerSource != null" >
                and register_source = #{registerSource,jdbcType=VARCHAR}
            </if>

            <if test="enMsg != null" >
                and en_msg = #{enMsg,jdbcType=VARCHAR}
            </if>

            <if test="cnMsg != null" >
                and cn_msg = #{cnMsg,jdbcType=VARCHAR}
            </if>

            <if test="frMsg != null" >
                and fr_msg = #{frMsg,jdbcType=VARCHAR}
            </if>

            <if test="jpMsg != null" >
                and jp_msg = #{jpMsg,jdbcType=VARCHAR}
            </if>
        </where>

        <if test="offset!= null and start != null">
            limit #{start},#{offset};
        </if>

    </select>

    <select id="selectListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM tb_sms_market_new_rule
        <where>
            <if test="name != null" >
                and name = #{name,jdbcType=VARCHAR}
            </if>

            <if test="status != null" >
                and status = #{status,jdbcType=TINYINT}
            </if>

            <if test="sendType != null" >
                and send_type = #{sendType,jdbcType=TINYINT}
            </if>

            <if test="sendAfterDay != null" >
                and send_after_day = #{sendAfterDay,jdbcType=SMALLINT}
            </if>

            <if test="sendTime != null" >
                and send_time = #{sendTime,jdbcType=CHAR}
            </if>

            <if test="accountStatus != null" >
                and account_status = #{accountStatus,jdbcType=VARCHAR}
            </if>

            <if test="registerSource != null" >
                and register_source = #{registerSource,jdbcType=VARCHAR}
            </if>

            <if test="enMsg != null" >
                and en_msg = #{enMsg,jdbcType=VARCHAR}
            </if>

            <if test="cnMsg != null" >
                and cn_msg = #{cnMsg,jdbcType=VARCHAR}
            </if>

            <if test="frMsg != null" >
                and fr_msg = #{frMsg,jdbcType=VARCHAR}
            </if>

            <if test="jpMsg != null" >
                and jp_msg = #{jpMsg,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>